:root{
    /*--dark-blue-300*/
    --color-primario: #0a3871;
    /*--light-blue-100*/
    --color-fondo: #f3f5fc;
    /*--dark-blue-500*/
    --color-footer: #052051;
    /*--gray-100*/
    --sombreado: #ced4da;
    /*--gray-500*/
    --boton-gris: #CED4DA;
}

*{
    box-sizing: border-box;
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--color-fondo);
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    gap: 4rem;
    padding: 1rem;
}

header{
    align-self: self-start;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    height: 100%;
}

main > :first-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    padding-top: 3em;
}

textarea{
    resize: none;
}

main > :first-child > textarea {
    width: 100%;
    height: 70%;
    background-color: transparent;
    outline-style: none;
    border: none;
    font-size: 2em;
}

main > :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px 0px var(--sombreado);
    background-color: white;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    padding: 0.5rem;
}

.imagen{
    width: 85%;
}

.subtitulo-imagen{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.parrafo-imagen{
    font-size: 1em;
}

.nota{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    width: 80%;
}

span{
    display: inline-table;
    text-align: center;
    width: 18px;
    height: 16px;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 15px;
}

.botones {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

button{
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.botones button {
    width: 50%;
    height: 67px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 1.5em;
}
  
.btn-encriptar{
    background-color: var(--color-primario);
    color: white;
}
  
.btn-desencriptar{
    background-color: var(--boton-gris);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

#texto-a-copiar{
    width: 100%;
    height: 86%;
    font-size: 1.5em;
    border: none;
    outline: none;
}

.btn-copiar{
    width: 100%;
    height: 67px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    border-radius: 1.5em;
    background-color: white;
    color: var(--boton-gris);
    border: 1px solid var(--color-primario);
}

.copiar{
    display: none;
}

footer{
    display: flex;
    background-color: var(--color-footer);
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 1rem;
}

footer img {
    width: 2em;
    height: 2em;
}

